{
	"env": {
		"amd": true,
		"browser": true,
		"es6": true,
		"node": true
	},
	"rules": {
		"global-strict": [2, "always"],
		"no-console": 0,
		"quotes": [2, "single"],
		"strict": [0, "global"]
	}
}